<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container">
            <h1><%= recipe.title %></h1>
            <img src="<%= recipe.images[0] %>" alt="<%= recipe.title %>" />
            <p style="white-space: pre-wrap;"><%= recipe.ingredients %></p>
            <p style="white-space: pre-wrap;"><%= recipe.directions %></p>
            <% if (user) { %><div>
                <a href="/recipe/<%= recipe._id %>/edit">Edit</a> <a href="#" id="delete-btn">Delete</a>
            </div><% } %>
        </div>
        <% if (user) { %><form id="delete-form" action="/recipe/<%= recipe._id %>?_method=DELETE" method="post"></form><% } %>
        <% include ../partials/footer.ejs %>
    </body>
</html>
