<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>RECIPEshare</title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container mt-3">
            <div class="flex-recipe">
                <div class="recipe-head-block">
                    <h1 class="text-center text-uppercase"><%= recipe.title %></h1>
                    <% if (recipe.credit) { %>
                    <h5 class="text-center">Credit: <%=recipe.credit %></h5>
                    <% } %>
                </div>
                <div class="recipe-images-block" id="images-block">
                    <% if (recipe.images.length > 1) { %><div class="image-carousel-prev material-icons" id="carousel-prev">arrow_back</div>

                    <% } %>
                    <% recipe.images.forEach((image) => { %>
                        <img src="<%= image %>" class="img-thumbnail" alt="<%= recipe.title %>" />
                    <% }) %>
                    <% if (recipe.images.length > 1) { %><div class="image-carousel-next material-icons" id="carousel-next">arrow_forward</div><% } %>
                </div>
                <div class="recipe-main-block">
                    <h5 class="border-bottom">Ingredients:</h5>
                    <p style="white-space: pre-wrap;"><%= recipe.ingredients %></p>
                </div>
                <div class="recipe-main-block">
                    <h5 class="border-bottom">Directions:</h5>
                    <p style="white-space: pre-wrap;"><%= recipe.directions %></p>
                </div>
                <% if (user) { %><div class="btn-group">
                    <a href="/recipe/<%= recipe._id %>/edit" class="btn btn-outline-primary">Edit</a>
                    <a href="#" id="delete-btn" class="btn btn-outline-danger">Delete</a>
                    <% if (!user.list.includes(recipe._id.toString())) { %>
                        <a href="/user/my-list/<%= recipe._id %>" class="btn btn-outline-success">Save For Later</a>
                    <% } else { %>
                        <a href="#" id="remove-list-btn" class="btn btn-outline-warning">Remove From List</a>
                    <% } %>
                </div><% } %>
            </div>
        </div>
        <% if (user) { %>
            <form id="delete-form" action="/recipe/<%= recipe._id %>?_method=DELETE" method="post"></form>
            <% if (user.list.includes(recipe._id.toString())) { %>
                <form id="remove-list-form" action="/user/my-list/<%= recipe._id %>?_method=DELETE" method="post"></form>
            <% } %>
        <% } %>
        <% include ../partials/footer.ejs %>
    </body>
</html>
